<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="worksheetdata" class="table">
            <thead>
              <tr>
                <% for(var h=0; h<worksheet.columns.length; h++) { %>
                <th><%=worksheet.columns[h] %></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for(var r=0; r<worksheet.data.length; r++) { %>
              <tr>
                <% for(var c=0; c<worksheet.data[r].length; c++) { %>
                <td><%=worksheet.data[r][c] %></td>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <% if(worksheet.CalSyncCalendarID) { %>
        <form method="POST" action="/spreadsheets/<%=worksheet.SpreadsheetID %>/<%=worksheet.WorksheetID %>/calendarsync">
          <button type="submit" class="btn btn-primary btn-lg pull-right">Calendar Sync</button>
        </form>
        <% } %>
        <!--<button type="button" class="btn btn-primary btn-lg pull-right">Save</button>-->
      </div>
    </div>


    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/js/lib/jquery.jeditable.mini.js"></script>
    <script>
      $(function(){
        //var worksheetdata = $('#worksheetdata').dataTable({
        //  "bProcessing": true,
        //  "fnDrawCallback": function() {
        //    $("#worksheetdata tbody td").editable('../examples_support/editable_ajax.php',{
        //      "callback": function(sValue,y){
        //        worksheetdata.fnDraw();
        //      }
        //    })
        //  }
        //});

        //$("#saveDataBtn").on('click',function() {
        //  alert("saving data");
        //});
      });
    </script>
  </body>
</html>